/**
    * @name Bubble Bar
    * @version 1.2.0
    * @description Nice, rounded, bubbly chatbars. Inspired from Discord's mobile app.
    * @author LuckFire#4800
    *
    * @website https://github.com/Discord-Theme-Addons
    * @source https://github.com/Discord-Theme-Addons/bubble-bar
**/

@import url('https://discord-theme-addons.github.io/bubble-bar/src/support/compiled.css');

:root {
    --channeltextarea-background: var(--background-secondary-alt);
    --channeltextarea-caret: var(--brand-experiment-400);
    
    /* [ --BUTTON ACCENTS-- ] */
    --button-brand: var(--brand-experiment);
    --button-brand-hovered: var(--brand-experiment-560);
    --button-brand-active: var(--brand-experiment-600);
}