.chatContent_a7d72e {
  .jumpToPresentBar_cf58b5 {
    // i should probably redo this
    display: block;
    left: calc(100% - 50px);
    width: 0;
    height: 0;
    bottom: 50px;
    .barButtonMain_cf58b5,
    .spinner_b6db20 {
      display: none;
    }
    .barButtonAlt_cf58b5 {
      top: 0;
      width: 0;
      height: 0;
      font-size: 0;
      .barButtonIcon_cf58b5 {
        z-index: 100;
        position: absolute;
        display: unset;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        margin-left: 0;
        padding: 9px;
        border-radius: 50px;
        color: var(--interactive-normal);
        background-color: var(--background-tertiary);
      }
    }
  }
  .form_a7d72e {
    margin: 0;
    padding: 0;
    border-top: 1px solid var(--channeltextarea-border);
    &::before {
      display: none;
    }
    .channelTextArea_a7d72e {
      margin: 0;
      padding: 0;
      .attachedBars_d0696b {
        border-radius: 0;
        background-color: var(--background-secondary-alt);
        .replyBar_b11c5e,
        .threadSuggestionBar_b11c5e {
          background-color: transparent;
        }
      }
      .channelAttachmentArea_e8c527 {
        margin-top: -11px;
        margin-bottom: 5px;
        margin-left: 0;
        + .divider_fc5f50 {
          display: none;
        }
        .wrapper_ef319f {
          background-color: var(--background-floating);
        }
      }
      .scrollableContainer_d0696b {
        padding: 15px;
        overflow-y: unset;
        .inner_d0696b {
          padding-left: 0;
          width: 100%;
          .buttons_d0696b {
            > button ~ .expression-picker-chat-input-button:not(:nth-child(4)) {
              display: none;
            }
            .emojiButton_af14ca {
              display: flex !important;
              order: -1;
              position: absolute;
              left: -50px;
              .button_dd4f85 {
                background-color: transparent;
              }
            }
            .separator_a06035 {
              margin: 0;
              &::before {
                display: none;
              }
              .button_dd4f85 {
                margin-right: 0;
                .innerButton_a06035 {
                  margin-left: 2px;
                  margin-right: 0;
                  transition: background-color 200ms ease;
                  svg {
                    opacity: 0.25;
                    transition: all 200ms ease;
                  }
                }
                &:not([disabled]) {
                  background-color: var(--channeltextarea-sendbutton-background);
                  &:hover {
                    background-color: var(--channeltextarea-sendbutton-hover);
                  }
                  &:active {
                    background-color: var(--channeltextarea-sendbutton-active);
                  }
                  svg {
                    opacity: 1;
                    color: var(--channeltextarea-sendbutton-icon);
                  }
                }
              }
            }
          }
          .attachButton_d0696b {
            .attachButtonPlus_f298d4 {
              d: path(
                "M10.6667 4V10.6667H4V13.3333H10.6667V20H13.3333V13.3333H20V10.6667H13.3333V4H10.6667Z"
              );
              fill: var(--channeltextarea-button-icon);
            }
            .attachButtonPlay_f298d4 {
              display: none;
            }
          }
          .characterCount_b82429 {
            right: unset;
            bottom: 0;
            left: 15px;
          }
        }
      }
    }
    .typing_d7ebeb {
      top: -24px;
      right: 0;
      left: 0;
      padding-right: 5px;
      border-bottom: 1px solid var(--background-primary);
      background-color: var(--background-secondary-alt);
    }
  }
  .scrollerSpacer_e2e187 {
    height: 25px;
  }
}
