.chatContent-3KubbW {
    .jumpToPresentBar-1cEnH0 { // i should probably redo this
        display: block;
        left: calc(100% - 50px);
        width: 0;
        height: 0;
        bottom: 50px;
        .barButtonMain-2GIx4o,
        .spinner-2RT7ZC {
            display: none;
        }
        .barButtonAlt-TQoCdZ {
            top: 0;
            width: 0;
            height: 0;
            font-size: 0;
            .barButtonIcon-bMvzp2 {
                z-index: 100;
                position: absolute;
                display: unset;
                top: 0;
                right: 0;
                width: 30px;
                height: 30px;
                margin-left: 0;
                padding: 9px;
                border-radius: 50px;
                color: var(--interactive-normal);
                background-color: var(--background-tertiary)
            }
        }
    }
    .form-3gdLxP {
        margin: 0;
        padding: 0;
        border-top: 1px solid var(--channeltextarea-border);
        &::before {
            display: none;
        }
        .channelTextArea-1FufC0 {
            margin: 0;
            padding: 0;
            .attachedBars-2BCP3l {
                border-radius: 0;
                background-color: var(--background-secondary-alt);
                .replyBar-1oi75v, .threadSuggestionBar-3ExSyc {
                    background-color: transparent;
                }
            }
            .channelAttachmentArea-HwpkuQ {
                margin-top: -11px;
                margin-bottom: 5px;
                margin-left: 0;
                + .divider-2rZFJK {
                    display: none;
                }
                .wrapper-2vIMkT {
                    background-color: var(--background-floating);
                }
            }
            .scrollableContainer-15eg7h {
                padding: 15px;
                overflow-y: unset;
                .inner-NQg18Y {
                    padding-left: 0;
                    width: 100%;
                    .buttons-uaqb-5 {
                        .expression-picker-chat-input-button {
                            &:not(:nth-of-type(3)) {
                                display: none;
                            }
                            &.buttonContainer-2lnNiN:nth-of-type(3) {
                                order: -1;
                                position: absolute;
                                left: -50px;
                                .button-f2h6uQ {
                                    background-color: transparent;
                                }
                            }
                        }
                        .separator-3ng7S5 {
                            margin: 0;
                            &::before {
                                display: none;
                            }
                            .button-f2h6uQ {
                                margin-right: 0;
                                .innerButton-1aF_E_ {
                                    margin-left: 2px;
                                    margin-right: 0;
                                    transition: background-color 200ms ease;
                                    svg {
                                        opacity: 0.25;
                                        transition: all 200ms ease;
                                    }
                                }
                                &:not([disabled]) {
                                    background-color: var(--channeltextarea-sendbutton-background);
                                    &:hover {
                                        background-color: var(--channeltextarea-sendbutton-hover);
                                    }
                                    &:active {
                                        background-color: var(--channeltextarea-sendbutton-active);
                                    }
                                    svg {
                                        opacity: 1;
                                        color: var(--channeltextarea-sendbutton-icon);
                                    }
                                }
                            }
                        }
                    }
                    .attachButton-1ijpt9 {
                        .attachButtonPlus-3IYelE {
                            d: path("M10.6667 4V10.6667H4V13.3333H10.6667V20H13.3333V13.3333H20V10.6667H13.3333V4H10.6667Z");
                            fill: var(--channeltextarea-button-icon);
                        }
                        .attachButtonPlay-1ATmb5 {
                            display: none;
                        }
                    }
                    .characterCount-8yNPfb {
                        right: unset;
                        bottom: 0;
                        left: 15px;
                    }
                }
            }
        }
        .typing-2J1mQU {
            top: -24px;
            right: 0;
            left: 0;
            padding-right: 5px;
            border-bottom: 1px solid var(--background-primary);
            background-color: var(--background-secondary-alt);
        }
    }
    .scrollerSpacer-3AqkT9 {
        height: 25px;
    }
}