.base-2jDfDU {
    .channelTextArea-220_Gz,
    .channelTextArea-1FufC0,
    .scrollableContainer-15eg7h {
        background-color: transparent;
    }
    .channelTextArea-1VQBuV {
        .inner-NQg18Y {
            margin-right: -5px;
            .textArea-2CLwUE {
                margin-right: 5px;
                border-radius: var(--channeltextarea-rounding);
                background-color: var(--channeltextarea-background);
                .fontSize16Padding-XoMpjI {
                    left: 16px;
                    padding-left: 0;
                }
                .slateTextArea-27tjG0 {
                    margin-right: 44px;
                    caret-color: var(--channeltextarea-caret);
                    border-radius: var(--channeltextarea-rounding);
                }
            }
            .buttons-uaqb-5 {
                margin-right: 0;
            }
            .button-f2h6uQ {
                width: 44px;
                height: 44px;
                margin-right: 5px;
                margin-left: 0;
                padding: 0;
                border-radius: var(--channeltextarea-button-rounding);
                background-color: var(--channeltextarea-button-background);
                transition: background-color ease-in-out 125ms;
                &:hover:not([disabled]), &:active:not([disabled]) {
                    background-color: var(--channeltextarea-button-hover);
                }
                svg {
                    color: var(--channeltextarea-button-icon);
                }
                .sprite-2lxwfc {
                    margin-bottom: 2px;
                    background-color: var(--channeltextarea-button-icon);
                    background-image: none !important;
                    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDJDNi40NzcgMiAyIDYuNDc3IDIgMTJDMiAxNy41MjIgNi40NzcgMjIgMTIgMjJDMTcuNTIzIDIyIDIyIDE3LjUyMiAyMiAxMkMyMiA2LjQ3NyAxNy41MjMgMiAxMiAyWk04IDZDOS4xMDQgNiAxMCA2Ljg5NiAxMCA4QzEwIDkuMTA1IDkuMTA0IDEwIDggMTBDNi44OTYgMTAgNiA5LjEwNSA2IDhDNiA2Ljg5NiA2Ljg5NiA2IDggNlpNMTggMTRDMTggMTYuNjE3IDE1LjE0IDE5IDEyIDE5QzguODYgMTkgNiAxNi42MTcgNiAxNFYxM0gxOFYxNFpNMTYgMTBDMTQuODk2IDEwIDE0IDkuMTA1IDE0IDhDMTQgNi44OTYgMTQuODk2IDYgMTYgNkMxNy4xMDQgNiAxOCA2Ljg5NiAxOCA4QzE4IDkuMTA1IDE3LjEwNCAxMCAxNiAxMFoiIGZpbGw9ImN1cnJlbnRDb2xvciIvPgo8L3N2Zz4=);
                    mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDJDNi40NzcgMiAyIDYuNDc3IDIgMTJDMiAxNy41MjIgNi40NzcgMjIgMTIgMjJDMTcuNTIzIDIyIDIyIDE3LjUyMiAyMiAxMkMyMiA2LjQ3NyAxNy41MjMgMiAxMiAyWk04IDZDOS4xMDQgNiAxMCA2Ljg5NiAxMCA4QzEwIDkuMTA1IDkuMTA0IDEwIDggMTBDNi44OTYgMTAgNiA5LjEwNSA2IDhDNiA2Ljg5NiA2Ljg5NiA2IDggNlpNMTggMTRDMTggMTYuNjE3IDE1LjE0IDE5IDEyIDE5QzguODYgMTkgNiAxNi42MTcgNiAxNFYxM0gxOFYxNFpNMTYgMTBDMTQuODk2IDEwIDE0IDkuMTA1IDE0IDhDMTQgNi44OTYgMTQuODk2IDYgMTYgNkMxNy4xMDQgNiAxOCA2Ljg5NiAxOCA4QzE4IDkuMTA1IDE3LjEwNCAxMCAxNiAxMFoiIGZpbGw9ImN1cnJlbnRDb2xvciIvPgo8L3N2Zz4=);
                    transform: none !important;
                    filter: none !important;
                }
            }
        }
    }
}