.base_a4d4d9 {
  .channelTextArea_d5deea,
  .channelTextArea_a7d72e,
  .scrollableContainer_d0696b {
    background-color: transparent;
  }
  .channelTextArea_d0696b {
    .inner_d0696b {
      margin-right: -5px;
      .textArea_d0696b {
        margin-right: 5px;
        border-radius: var(--channeltextarea-rounding);
        background-color: var(--channeltextarea-background);
        .fontSize16Padding_d0696b {
          left: 16px;
          padding-left: 0;
        }
        .slateTextArea_e52116 {
          margin-right: 44px;
          caret-color: var(--channeltextarea-caret);
          border-radius: var(--channeltextarea-rounding);
        }
      }
      .buttons_d0696b {
        margin-right: 0;
      }
      .button_dd4f85 {
        width: 44px;
        height: 44px;
        margin-right: 5px;
        margin-left: 0;
        padding: 0;
        border-radius: var(--channeltextarea-button-rounding);
        background-color: var(--channeltextarea-button-background);
        transition: background-color ease-in-out 125ms;
        &:hover:not([disabled]),
        &:active:not([disabled]) {
          background-color: var(--channeltextarea-button-hover);
        }
        &.emojiButton_d0696b {
          background-color: transparent;
        }
        .sprite_af14ca {
          margin-bottom: 2px;
          background-color: var(--channeltextarea-button-icon);
          background-size: unset !important;
          background-position: unset !important;
          background-image: none !important;
          -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDJDNi40NzcgMiAyIDYuNDc3IDIgMTJDMiAxNy41MjIgNi40NzcgMjIgMTIgMjJDMTcuNTIzIDIyIDIyIDE3LjUyMiAyMiAxMkMyMiA2LjQ3NyAxNy41MjMgMiAxMiAyWk04IDZDOS4xMDQgNiAxMCA2Ljg5NiAxMCA4QzEwIDkuMTA1IDkuMTA0IDEwIDggMTBDNi44OTYgMTAgNiA5LjEwNSA2IDhDNiA2Ljg5NiA2Ljg5NiA2IDggNlpNMTggMTRDMTggMTYuNjE3IDE1LjE0IDE5IDEyIDE5QzguODYgMTkgNiAxNi42MTcgNiAxNFYxM0gxOFYxNFpNMTYgMTBDMTQuODk2IDEwIDE0IDkuMTA1IDE0IDhDMTQgNi44OTYgMTQuODk2IDYgMTYgNkMxNy4xMDQgNiAxOCA2Ljg5NiAxOCA4QzE4IDkuMTA1IDE3LjEwNCAxMCAxNiAxMFoiIGZpbGw9ImN1cnJlbnRDb2xvciIvPgo8L3N2Zz4=);
          mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDJDNi40NzcgMiAyIDYuNDc3IDIgMTJDMiAxNy41MjIgNi40NzcgMjIgMTIgMjJDMTcuNTIzIDIyIDIyIDE3LjUyMiAyMiAxMkMyMiA2LjQ3NyAxNy41MjMgMiAxMiAyWk04IDZDOS4xMDQgNiAxMCA2Ljg5NiAxMCA4QzEwIDkuMTA1IDkuMTA0IDEwIDggMTBDNi44OTYgMTAgNiA5LjEwNSA2IDhDNiA2Ljg5NiA2Ljg5NiA2IDggNlpNMTggMTRDMTggMTYuNjE3IDE1LjE0IDE5IDEyIDE5QzguODYgMTkgNiAxNi42MTcgNiAxNFYxM0gxOFYxNFpNMTYgMTBDMTQuODk2IDEwIDE0IDkuMTA1IDE0IDhDMTQgNi44OTYgMTQuODk2IDYgMTYgNkMxNy4xMDQgNiAxOCA2Ljg5NiAxOCA4QzE4IDkuMTA1IDE3LjEwNCAxMCAxNiAxMFoiIGZpbGw9ImN1cnJlbnRDb2xvciIvPgo8L3N2Zz4=);
          transform: none !important;
          filter: none !important;
        }
        svg {
          color: var(--channeltextarea-button-icon);
        }
      }
    }
  }
}
