.channelTextArea-220_Gz {
    .buttonContainer-2lnNiN {
        z-index: 2;
        position: absolute;
        right: 0;
        top: 0;
        .button-3BaQ4X {
            background-color: transparent !important;
        }
    }
}