.channelTextArea_d5deea {
  .buttonContainer_d0696b {
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    .button_d0696b {
      background-color: transparent !important;
    }
  }
}
