#app-mount {
  // || GIF / Sticker / Emoji Drawer
  .drawerSizingWrapper_af5dbb {
    right: 114px;
    .navList_af5dbb {
      #emoji-picker-tab {
        order: 1;
        margin-left: 0;
      }
      #sticker-picker-tab {
        order: 2;
      }
      #gif-picker-tab {
        order: 3;
        margin-left: 8px;
      }
    }
  }
  // || Autocomplete
  .autocomplete_bea0d0 {
    bottom: 100%;
    padding-left: 8px;
    border-radius: 0;
    box-shadow: none;
    background-color: var(--background-secondary-alt);
  }
  .autocomplete_f23da8 {
    bottom: 100%;
    border-radius: 0;
    box-shadow: none;
    background-color: var(--background-secondary-alt);
    .categoryHeader_fe2299 {
      background-color: var(--background-secondary-alt);
    }
  }
  .attachedBars_d0696b ~ {
    .autocomplete_bea0d0,
    .autocomplete_f23da8 {
      border-bottom: 1px solid var(--background-primary);
    }
  }
  // || Stickers
  .stickerIconOffset_ccd3df {
    display: none;
  }
}
