:root {
    --channeltextarea-background: var(--background-secondary-alt);
    
    /* [ --BUTTON ACCENTS-- ] */
    --button-brand: var(--brand-experiment);
    --button-brand-hovered: var(--brand-experiment-560);
    --button-brand-active: var(--brand-experiment-600);
}