@use 'root';

.channelTextArea-1VQBuV {
    // base chatbars
    .scrollableContainer-15eg7h {
        background-color: transparent;
    }
    .textArea-2CLwUE {
        border-radius: 25px;
        background-color: var(--channeltextarea-background);
    }
    // base buttons
    .buttons-uaqb-5 {
        margin-right: 0;
    }
    button {
        width: 42px;
        height: 42px;
        margin-top: 0;
        margin-left: 7px;
        border-radius: 25px;
        background-color: var(--channeltextarea-background);
    }
}

/* [ --FORM-- ] */
.scrollerSpacer-3AqkT9 { // spacing from the form
    height: 10px;
}
.form-3gdLxP {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 15px;
    margin-bottom: -8px;
    // text area
    .textArea-2CLwUE > div {
        left: 16px;
    }
    .scrollableContainer-15eg7h {
        margin-right: -12px;
    }
    // buttons
    .attachButton-1ijpt9 {
        margin-left: -16px;
        margin-right: 7px;
        .attachButtonPlus-3IYelE {
            d: path("M19 13.4H13.4V19H10.6V13.4H5V10.6H10.6V5H13.4V10.6H19V13.4Z")
        }
        .attachButtonPlay-1ATmb5 {
            d: path("M17 21.6667L22 18.3333L17 15V21.6667Z")
        }
    }
    .separator-3ng7S5 { // send message button
        margin-left: -4px;
        button {
            background-color: transparent;
        }
        &::before {
            display: none;
        }
        .button-y6hemj {
            &::before {
                z-index: -1;
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 42px;
                height: 42px;
                border-radius: 50px;
                transition: background-color 0.125s linear;
            }
            svg {
                margin-left: -5px;
                opacity: 0.2;
                color: white;
                transition: opacity 0.125s linear;
            }
        }
        .button-y6hemj {
            // button disabled
            &[disabled] {
                &::before {
                    background-color: var(--channeltextarea-background);
                }
            }
            // button enabled
            &:not([disabled]) {
                svg {
                    opacity: 1;
                }
                &::before {
                    background-color: var(--button-brand);
                }
                // for more "reactive" buttons, matches normal buttons.
                &:hover::before {
                    background-color: var(--button-brand-hovered);
                }
                &:active::before {
                    background-color: var(--button-brand-active);
                }
            }
        }
    }
    // containers
    .base-3bcbY3 { // typing / slowmode
        position: relative;
        margin-top: -14px;
        margin-bottom: 15px;
        margin-left: -32px;
        background-color: var(--background-secondary-alt);
        .cooldownWrapper-2k1jHK {
            margin-right: 5px;
        }
    }
    .attachedBars-2BCP3l { // main container (mainly used for replying / thread suggestion)
        margin-top: -15px;
        margin-right: -16px;
        margin-bottom: 15px;
        margin-left: -16px;
        border-radius: 0;
        background-color: var(--background-secondary-alt);
    }
    .replyBar-1oi75v {
        height: 36px;
        background-color: var(--background-secondary-alt);
        .separator-8ngZ3p {
            display: none;
        }
        .closeButton-3IEry2 {
            position: absolute;
            left: -20px;
        }
        .replyLabel-WWnhHi {
            margin-left: 45px;
        }
        .colorLink-2apWfY {
            color: var(--brand-experiment-360);
        }
    }
    .threadSuggestionBar-3ExSyc {
        background-color: var(--background-secondary-alt);
    }
    // attachments
    .channelAttachmentArea-1wlgJV {
        margin-top: -11px;
        margin-bottom: 5px;
    }
    .divider-2rZFJK {
        display: none;
    }
}
// jump to present
.jumpToPresentBar-1cEnH0 {
    justify-content: center;
    left: calc(100% - 56px);
    width: 40px;
    height: 40px;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 50px;
    background-color: var(--button-brand);
    transition: background-color 0.125s linear;
    &:hover {
        background-color: var(--button-brand-hovered);
    }
    &:active {
        margin-bottom: 10px;
        background-color: var(--button-brand-active);
    }
    .barButtonMain-2GIx4o {
        display: none;
    }
    .barButtonAlt-TQoCdZ {
        font-size: 0;
    }
    .barButtonIcon-bMvzp2 {
        top: 0;
        width: 30px;
        height: 30px;
        margin-left: 0;
    }
    .spinner-2RT7ZC {
        margin-left: 12px;
    }
}
#app-mount  {
    .autocompleteAttached-bt_md-,
    .autocomplete-3NRXG8 { // autocomplete popout
        right: -16px;
        bottom: 59px;
        left: -16px;
        padding-left: 6px;
        border-radius: 0;
        box-shadow: none;
        background-color: var(--background-secondary-alt);
    }
    .autocomplete-3NRXG8 {
        padding-left: 0;
        .categoryHeader-OpJ1Ly {
            background-color: var(--background-secondary-alt);
        }
    }
}

/* [ --EDITING-- ] */
.channelTextArea-220_Gz > div {
    border-radius: 25px;
}
